aside {
   grid-area: aside;
   background: $primary-color;

   .list {
      display: flex;
      flex-flow: column wrap;
      list-style-type: none;
      margin-left: 1rem;
      margin-right: 1rem;
      background: $primary-color;
      font-size: 12px;

      li:first-child {
         margin: 1rem 0;
      }

      .input-stack {
         position: relative;
         color: white;
         border: 1px solid black;
         display: inline-block;
         margin-bottom: 1rem;
         width: 100%;

         .input {
            font-size: 12px;
            border-width: 0;
            margin: 0;
            width: 90%;
            height: 1rem;
            padding: .5rem 0 .5rem 1rem;
         }

         .icon {
            position: absolute;
            right: 0;
         }
      }

      &>li:not(:first-child) {
         border-bottom: 1px solid darken($primary-color, 5%);

         &.active {
            background: darken($primary-color, 5%);

            .location-name {
               color: $font-color-active;
            }

            .landmark {
               display: flex;
               transform: translateY(0);
            }
         }


         .location-name {
            display: flex;
            margin: 12px 0;
            color: white;
            cursor: pointer;
            // justify-content: space-between;

            span {
               text-transform: capitalize;
               font-weight: 700;
               padding-left: 1.2rem;
            }

            i {
               position: relative;
               bottom: 6px;
               margin-left: auto;
            }
         }
      }

      .landmark {
         padding-left: 2.5rem;
         color: $font-color;
         display: flex;
         flex-direction: column;
         transition: all 1s;
         display: none;
         transform: translateY(-200px);
         transition: all 1s;

         span {
            margin: 10px 0;
            font-weight: 400;
         }
      }


   }
}