$primary-color : #282c37;
$secondary-color: #72cdd2;
$sidebar-color : #313541;
$font-color: #8298a0;
$font-color-active: #7db62c;

// html {
//    line-height: 1.2;
// }

.title {
   margin: 3rem 0;
   text-align: center;
}

.form-group {
   margin: 0 2rem;
   display: flex;
   align-items: baseline;

   .input-field {
      flex: 1 0 10rem;

      input {
         padding: 0 0 0 1rem;
      }
   }

   button {
      margin-left: 1rem;
   }
}

.list-todo {
   border-width: 0;

   .collection-item {
      display: flex;
      align-content: center;
      align-items: baseline;

      &>span:nth-child(1) {
         flex: 0 0 1rem;
         text-align: center;
      }

      &>span:nth-child(2) {
         flex: 0 0 auto;
         margin: 0 1rem;
      }

      &>span:nth-child(3) {
         flex: 1 1 2rem;
         margin: 0 1rem;
      }

      &>span:nth-child(4) {
         flex: 0 1 3rem;
      }

      .btn {
         max-width: 2rem;
         transition: max-width .5s;

         span {
            width: 0px;
            display: inline-block;
            transform: scale(0);
            transition: all .5s !important;
         }

         &:hover {
            max-width: 10rem;
            span {
               width: auto;
               transform: scale(1);
               transition: all .5s !important;
            }
         }
      }
   }

}