<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front End Test</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/materialize.min.css">
    <script src="materialize/js/bin/materialize.min.js"></script> -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    <div id="app" class="container">

        <h1 class="title">Todo-List Gits</h1>
        <div class="form-group">
            <div class="input-field">
                <input type="text" class="form-control" name="todo" id="todo" v-model="todo" @keyup.enter="postTodo">
                <label class="active" for="todo">Todo...</label>
            </div>
            <button class="btn btn-primary" @click="postTodo" style="margin-top: 8px;">Add

                <i class="material-icons left">add</i>
            </button>
        </div>
        <div class="progress" v-if='isLoading'>
            <div class="indeterminate" style="width: 70%"></div>
        </div>

        <ul class="list-todo collection" v-if="todos.length > 0">
            <li class="collection-item" v-for="(todo, index) in todos" :key="index">
                <span>{{index + 1}}</span>
                <span>
                    <button class="waves-effect waves-light btn " @click="completedTodo(todo)" v-if='todo.completed'>
                        <i class="material-icons left">check_box_outline_blank</i>
                        <span>Completed</span>
                    </button>
                    <button class="waves-effect waves-light btn yellow darken-3 text-darken-2W" @click="completedTodo(todo)"
                        v-if='!todo.completed'>
                        <i class="material-icons left">check_box</i>
                        <span>On Progress</span>
                </button>
                </span>
                <span>{{todo.title}}</span>
                <span>
                    <button class="waves-effect waves-light btn red" @click="deleteTodo(todo.id)">
                        <i class="material-icons">delete</i>
                        Delete</button>
                </span>
            </li>
        </ul>
        <h1 v-else>Todonya kosong mas</h1>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>

    <!-- <script type="text/javascript" src="materialize/js/bin/materialize.min.js"></script>
   <script type="text/javascript" src="js/index.js"></script> -->
</body>

</html>